<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de Email de Clientes</title>
<head/>
<body>
    
    <h1> Lista de Emails de clientes </h1>
    <table border="1">
        <thead>
              <tr>
                <th>Nome</th>
                <th>e-mails enviados</th>
            </tr>
        </thead>

        <tbory>
            <tr>
                <td> Antonio José </td>
                <td>5</td>
            </tr>
            <tr>
                <td>Renan</td>
                <td>10</td>
            <tr>
        <tbory>
    
    </table>



</body>
</html>